.start-page__content {
    min-height: 100vh;

    background: #61dafb;
}
.start-page__content-info {
    height: 100vh;

    overflow: hidden;

    display: flex;
}

.start-page__image {
    width: 47.5vw;
    object-fit: cover;
}

.start-page__aside {
    padding-top: 25vh;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    background: white;

}

.start-page__aside > * {
    margin-left: 6vw;
}

.start-page__aside > *:not(:last-child) {
    margin-right: 8.5vw;
}

.start-page__aside > *:first-child {
    margin-right: 6vw;
}

.start-page__aside-actions {
    display: flex;
}

.start-page__aside-actions > * {
    width: 50%;
}