.margin-top {
    margin-top: 0;
}

.margin-top_size_m {
    margin-top: 24px;
}

.margin-right {
    margin-right: 0;
}

.margin-right_size_m {
    margin-right: 10vw;
}

.margin-left {
    margin-left: 0;
}

.margin-left_size_m {
    margin-left: 10vw;
}

.margin-bottom {
    margin-bottom: 0;
}

.margin-bottom_size_m {
    margin-bottom: 24px;
}
